<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/home/gloriouseggroll/Documents/FinalWebApp/public/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/home" method="post">
          <input name="query" type="text" class="ghost-input"  required>
          <input type="submit" class="ghost-button" value="Search fo Book">
        </form>
        <% if(link !== null){ %>
          <p><%= link %></p>
        <% } %>

        <% if(href !== null){ %>
          <p><%= href %></p>
        <% } %>

        <% if(description !== null){ %>
          <p><%= description %></p>
        <% } %>

      </fieldset>
    </div>
  </body>
</html>